<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="FileDatabase" value="C:\Users\mfeingol\Home\Dev\Almonaster\Main\Drop\x64\Debug\site\Database\2011_10_02.3" />
        <add key="SqlDatabase" value="Data Source=.\SQLExpress;Integrated Security=SSPI;Initial Catalog=Almonaster"/>
    </appSettings>
</configuration>
