<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
    <!-->system.diagnostics>
        <trace autoflush="true" indentsize="2">
            <listeners>
                <clear />
                <add name="AlmonasterListener"
                     type="System.Diagnostics.TextWriterTraceListener"
                     initializeData="..\site\Logs\Trace.txt"/>
            </listeners>
        </trace>
    </system.diagnostics-->
</configuration>
